title: Using QIIME 2
author: Greg Caporaso
copyright: "2024"
exclude_patterns: [_build, Thumbs.db, .DS_Store, "**.ipynb_checkpoints"]


sphinx:
  extra_extensions:
    - sphinx.ext.intersphinx
    - sphinx.ext.mathjax
    - sphinxcontrib.bibtex
    - q2doc.linkcode
  config:
    html_theme_options:
      logo:
        image_light: _static/dwq2-light.png
        image_dark: _static/dwq2-dark.png
      show_navbar_depth: 2

    # Don't include the prompt (or outputs) in the copied text
    copybutton_prompt_text: '>>> |\.\.\. '
    copybutton_prompt_is_regexp: true

    intersphinx_mapping:
      python: ['https://docs.python.org/3.9', null]

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - _static/references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/caporaso-lab/using-qiime2  # Online location of your book
  path_to_book: book  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
  favicon: _static/favicon.ico

parse:
  myst_substitutions:
    miniconda_url: "[Miniconda](https://conda.io/miniconda.html)"
    release_epoch: "2024.5"